textarea {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background-color: white;
  background-color: -moz-field;
  border: 1px solid darkgray;
  font: -moz-field;
  font: -webkit-small-control;
  padding: 2px 3px;
  height: 100px;
  width: 100%;
  overflow: auto;
}

.menu {
  background-color: #f3f3f3;
  position: absolute;
  cursor: pointer;
  list-style: none;
  padding: 0;
}

.menu-item {
  padding: 1rem;
}

.menu-item:hover:not(.selected) {
  background-color: #fafafa;
}

.menu-item.selected {
  background-color: slateGray;
  color: white;
}
